mirrors:
  docker.io:
    endpoint: [] # Disable default Docker Hub
  quay.io:
    endpoint: [] # Disable Quay
  registry.k8s.io:
    endpoint: [] # Disable Kubernetes upstream registry

  "{{ registry_ip }}:{{ registry_port }}":
    endpoint:
      - "https://{{ registry_ip }}:{{ registry_port }}"

configs:
  "{{ registry_ip }}:{{ registry_port }}":
    tls:
      insecure_skip_verify: {{ insecure|default(false) }}
    auth:
      username: {{ registry_username }}
      password: {{ registry_password }}