# /var/lib/rancher/rke2/server/manifests/rke2-cilium-config.yaml
---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: rke2-cilium
  namespace: kube-system
spec:
  valuesContent: |-
    kubeProxyReplacement: true
    k8sServiceHost: "{{ k8s_service_host}}"
    k8sServicePort: "{{k8s_service_port}}"
    localRedirectPolicy: {{ localRedirectPolicy_enabled | default(true) }}
    hubble:
        enabled: {{ hubble_enabled | default(true) }}
        relay:
            enabled: {{ hubble_relay_enabled | default(false) }}
        ui:
            enabled: {{ hubble_ui_enabled | default(false) }}
        metrics:
            enabled:
                - drop
                - flow
        flowFilter:
            namespace:
                - default
                - my-app
    export:
        # --- Static exporter configuration.
        # Static exporter is bound to agent lifecycle.
        static:
            enabled: false
            filePath: /var/run/cilium/hubble/events.log
        fieldMask: []
        allowList: []
            # - '{"verdict":["DROPPED","ERROR"]}'
        denyList: []
            - '{"source_pod":["kube-system/"]}'
            - '{"destination_pod":["kube-system/"]}'